/* Chosen Color Scheme:
   1. Primary Color: #04B2D9
   2. Secondary Color: #04D9B2
   3. Background Color: #011C40
   4. Text Color: #000000
   5. Accent Color: #04D98B
*/


body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #011C40;
  color: #04B2D9;
}

h1{color: ;#04B2D9; }

header {
  background-color: #011C40;
  padding: 10px;
  text-align: center;
}

header h1 {
  color: #04B2D9;
}


nav {
  background-color: #011C40;
  text-align: center;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #04B2D9;
  margin: 0 10px;
}


nav a:hover {
  color: #04D98B;
}


.main-content {
  padding: 20px;
  margin: 20px;
  background-color: #011C40;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
  background-color: #011C40;
  text-align: center;
  padding: 10px;
  color: #04B2D9;
}

.bg-green{color:#011C40}